header {
	width: 100%;
	height: 80px;
	background: #222;
	padding: 0px 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	h1 a {
		font: bold 24px/1 'arial';
		color: #fff;
	}

	.gnb {
		display: flex;
		align-items: center;

		li {
			margin: 0px 20px;

			a {
				font: 16px/1 'arial';
				color: #ddd;
			}
		}
	}

	.menu {
		.fa-bars {
			font-size: 20px;
			color: #fff;
			display: block;
		}
	}
}

@media screen and (max-width: 899px) {
	header {
		.gnb {
			display: none;
		}
	}
}
