header {
	width: 100%;
	height: 80px;
	padding: 0px 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	&.main {
		position: absolute;
		top: 0px;
		left: 0px;
		background: transparent;
		border-bottom: 1px solid #bbb;
		z-index: 3;

		h1 a {
			color: #fff;
		}
		.gnb {
			li a {
				color: #fff;
			}
		}
		.menu .fa-bars {
			color: #fff;
		}
	}

	&.sub {
		background: #111;
		border-bottom: 1px solid #fff;

		h1 a {
			color: #fff;
		}
		.gnb {
			li a {
				color: #fff;
			}
		}
		.menu .fa-bars {
			color: #fff;
		}
	}

	h1 a {
		font: bold 24px/1 'arial';
	}

	.gnb {
		display: flex;
		align-items: center;

		li {
			margin: 0px 20px;

			a {
				font: 16px/1 'arial';
			}
		}
	}

	.menu {
		display: none;
		.fa-bars {
			font-size: 20px;
			display: block;
		}
	}
}

@media screen and (max-width: 899px) {
	header {
		.gnb {
			display: none;
		}
		.menu {
			display: block;
		}
	}
}
