@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';

//main
@import 'main/visual';
@import 'main/news';
@import 'main/pics';
@import 'main/vids';
@import 'main/btns';

//sub
@import 'sub/youtube';
@import 'sub/gallery';
@import 'sub/department';
@import 'sub/location';
@import 'sub/join';
@import 'sub/community';
